@font-face {
  font-family: 'asernet';
  src:  url('fonts/asernet.eot?9npy01');
  src:  url('fonts/asernet.eot?9npy01#iefix') format('embedded-opentype'),
    url('fonts/asernet.ttf?9npy01') format('truetype'),
    url('fonts/asernet.woff?9npy01') format('woff'),
    url('fonts/asernet.svg?9npy01#asernet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asernet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-structure:before {
  content: "\e913";
}
.icon-customersupport:before {
  content: "\e914";
}
.icon-engineer:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e916";
}
.icon-devices:before {
  content: "\e917";
}
.icon-bighouse:before {
  content: "\e918";
}
.icon-videogame:before {
  content: "\e919";
}
.icon-videochamada:before {
  content: "\e91a";
}
.icon-streaming:before {
  content: "\e91b";
}
.icon-homeoffice:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-checkmark:before {
  content: "\e91e";
}
.icon-family:before {
  content: "\e91f";
}
.icon-wifiestavel:before {
  content: "\e920";
}
.icon-wifiestrutura:before {
  content: "\e921";
}
.icon-wificobertura:before {
  content: "\e922";
}
.icon-tv:before {
  content: "\e923";
}
.icon-wifiruim:before {
  content: "\e924";
}
.icon-servidor:before {
  content: "\e911";
}
.icon-construcao:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-cloud:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e908";
}
.icon-carpin:before {
  content: "\e909";
}
.icon-loading:before {
  content: "\e90a";
}
.icon-casino-cctv:before {
  content: "\e90b";
}
.icon-car:before {
  content: "\e90c";
}
.icon-wifi:before {
  content: "\e90d";
}
.icon-mobile-phone:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-security:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-talk:before {
  content: "\e902";
}
