@font-face {
  font-family: 'asernet';
  src:  url('fonts/asernet.eot?7iwxjj');
  src:  url('fonts/asernet.eot?7iwxjj#iefix') format('embedded-opentype'),
    url('fonts/asernet.ttf?7iwxjj') format('truetype'),
    url('fonts/asernet.woff?7iwxjj') format('woff'),
    url('fonts/asernet.svg?7iwxjj#asernet') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'asernet' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-heart:before {
  content: "\e93d";
}
.icon-videostreaming:before {
  content: "\e93e";
}
.icon-conection:before {
  content: "\e93f";
}
.icon-entrega:before {
  content: "\e940";
}
.icon-chip:before {
  content: "\e941";
}
.icon-ativacao:before {
  content: "\e942";
}
.icon-socialmedia:before {
  content: "\e943";
}
.icon-gps:before {
  content: "\e944";
}
.icon-infrastructure:before {
  content: "\e945";
}
.icon-clock:before {
  content: "\e93c";
}
.icon-payment:before {
  content: "\e930";
}
.icon-contrato:before {
  content: "\e931";
}
.icon-install:before {
  content: "\e932";
}
.icon-equipamentocomodato:before {
  content: "\e933";
}
.icon-expansivel:before {
  content: "\e934";
}
.icon-app:before {
  content: "\e935";
}
.icon-escolherplano:before {
  content: "\e936";
}
.icon-view:before {
  content: "\e937";
}
.icon-paraempresa:before {
  content: "\e938";
}
.icon-funcionarios:before {
  content: "\e939";
}
.icon-inseguranca:before {
  content: "\e93a";
}
.icon-monitoramento:before {
  content: "\e93b";
}
.icon-rocket:before {
  content: "\e92b";
}
.icon-ethernet:before {
  content: "\e92c";
}
.icon-wifinot:before {
  content: "\e92d";
}
.icon-wifierror:before {
  content: "\e92e";
}
.icon-exclamation:before {
  content: "\e92f";
}
.icon-wifimesh:before {
  content: "\e92a";
}
.icon-fire:before {
  content: "\e925";
}
.icon-wifipro:before {
  content: "\e926";
}
.icon-wificelphone:before {
  content: "\e927";
}
.icon-camwifi:before {
  content: "\e928";
}
.icon-wifiphone:before {
  content: "\e929";
}
.icon-structure:before {
  content: "\e913";
}
.icon-customersupport:before {
  content: "\e914";
}
.icon-engineer:before {
  content: "\e915";
}
.icon-calendar:before {
  content: "\e916";
}
.icon-devices:before {
  content: "\e917";
}
.icon-bighouse:before {
  content: "\e918";
}
.icon-videogame:before {
  content: "\e919";
}
.icon-videochamada:before {
  content: "\e91a";
}
.icon-streaming:before {
  content: "\e91b";
}
.icon-homeoffice:before {
  content: "\e91c";
}
.icon-star:before {
  content: "\e91d";
}
.icon-checkmark:before {
  content: "\e91e";
}
.icon-family:before {
  content: "\e91f";
}
.icon-wifiestavel:before {
  content: "\e920";
}
.icon-wifiestrutura:before {
  content: "\e921";
}
.icon-wificobertura:before {
  content: "\e922";
}
.icon-tv:before {
  content: "\e923";
}
.icon-wifiruim:before {
  content: "\e924";
}
.icon-servidor:before {
  content: "\e911";
}
.icon-construcao:before {
  content: "\e912";
}
.icon-whatsapp:before {
  content: "\e903";
}
.icon-group:before {
  content: "\e904";
}
.icon-support:before {
  content: "\e905";
}
.icon-setting:before {
  content: "\e906";
}
.icon-cloud:before {
  content: "\e907";
}
.icon-pin:before {
  content: "\e908";
}
.icon-carpin:before {
  content: "\e909";
}
.icon-loading:before {
  content: "\e90a";
}
.icon-casino-cctv:before {
  content: "\e90b";
}
.icon-car:before {
  content: "\e90c";
}
.icon-wifi:before {
  content: "\e90d";
}
.icon-mobile-phone:before {
  content: "\e90e";
}
.icon-home:before {
  content: "\e90f";
}
.icon-security:before {
  content: "\e910";
}
.icon-checked:before {
  content: "\e900";
}
.icon-phone:before {
  content: "\e901";
}
.icon-talk:before {
  content: "\e902";
}
